{{!-- 
  File: home.hbs
  Purpose: responsible for displaying the main user dashboard 
 --}}
<div class="main-content">
  <h2>Welcome back, {{name}}</h2>
  <sl-tab-group>
    <sl-tab slot="nav" panel="yourExercises">Your Exercises</sl-tab>
    <sl-tab slot="nav" panel="browseExercises">Browse Exercises</sl-tab>
    <sl-tab slot="nav" panel="createExercise">Create Exercise</sl-tab>

    {{!-- Your Exercises --}}
    <sl-tab-panel name="yourExercises">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Sets</th>
            <th scope="col">Reps</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each userExercises}} 
          <tr>
              <td>{{this.name}}</td>
              <td>{{this.sets}}</td>
              <td>{{this.reps}}</td>
              <td>{{this.date}}</td>
          </tr>
          {{/each}} 
        </tbody>
      </table>          
    </sl-tab-panel>

    {{!-- Browse Exercises --}}
    <sl-tab-panel name="browseExercises">    
      <div class="d-flex flex-wrap">
        {{#each browseExercises}}
        <div class="col-sm-6 p-2">
          <div class="card" >
              <img class="card-img-top" src="{{this.img}}">
              <div class="card-body">
                <h5 class="card-title">{{this.displayName}}</h5>
                <a href="/exercise/search?muscleGroup={{this.searchName}}" class="btn btn-primary">Browse</a>
              </div>
          </div> 
        </div>
        {{/each}} 
      </div>
    </sl-tab-panel>

    {{!-- Create exercise --}}
    <sl-tab-panel name="createExercise">
      <form class="p-2" action="/user/exercise" method="post">
        <div class="mb-3">
          <label for="exerciseName" class="form-label">Exercise Name</label>
          <input name="name" type="text" class="form-control" id="exerciseName">
        </div>
        <div class="mb-3">
          <label for="sets" class="form-label">Sets</label>
          <input name="sets" type="number" class="form-control" id="sets">
        </div>
        <div class="mb-3">
          <label class="form-label" for="reps">Reps</label>
          <input name="reps" type="text" class="form-control" id="reps">
        </div>
        <div class="mb-3">
          <label class="form-label" for="date">Date</label>
          <input name="date" type="date" class="form-control" id="date">
        </div>
        <button type="submit" class="btn btn-primary">Create Exercise</button>
      </form> 
    </sl-tab-panel>
  </sl-tab-group> 

</div>
